In [1]:
import pandas as pd
import numpy as np

In [10]:
GTEx_blood= pd.read_csv('/data_alluser/CXY/keti/singlecell_eqtl/eqtl/result/GTEx/Whole_Blood.signifpairs.txt',sep="\t")
GTEx_blood

,variant_id,gene_id,tss_distance,ma_samples,ma_count,maf,pval_nominal,slope,slope_se,pval_nominal_threshold,min_pval_nominal,pval_beta
0,chr1_64764_C_T_b38,ENSG00000227232.5,35211,79,80,0.059701,1.727560e-09,0.516614,0.084465,0.000393,3.851330e-13,1.052580e-09
1,chr1_665098_G_A_b38,ENSG00000227232.5,635545,140,146,0.108955,8.848980e-13,0.462697,0.063337,0.000393,3.851330e-13,1.052580e-09
2,chr1_666028_G_A_b38,ENSG00000227232.5,636475,125,131,0.097761,3.851330e-13,0.489662,0.065936,0.000393,3.851330e-13,1.052580e-09
3,chr1_17556_C_T_b38,ENSG00000238009.6,-111667,27,27,0.020149,1.485310e-06,0.760661,0.156447,0.000333,4.994340e-31,1.059730e-25
4,chr1_58814_G_A_b38,ENSG00000238009.6,-70409,109,119,0.088806,1.494340e-18,0.636831,0.070098,0.000333,4.994340e-31,1.059730e-25
...,...,...,...,...,...,...,...,...,...,...,...,...
2414648,chrX_155999818_C_T_b38,ENSG00000182484.15,-21008,419,515,0.384328,2.348120e-04,0.181808,0.049128,0.000667,9.487160e-05,5.026270e-02
2414649,chrX_155999957_G_C_b38,ENSG00000182484.15,-20869,403,487,0.363433,1.555250e-04,0.181509,0.047686,0.000667,9.487160e-05,5.026270e-02
2414650,chrX_156000131_G_A_b38,ENSG00000182484.15,-20695,402,485,0.361940,1.613730e-04,0.180934,0.047652,0.000667,9.487160e-05,5.026270e-02
2414651,chrX_156001267_A_G_b38,ENSG00000182484.15,-19559,400,481,0.358955,2.384740e-04,0.176194,0.047663,0.000667,9.487160e-05,5.026270e-02
2414652,chrX_156003433_T_C_b38,ENSG00000182484.15,-17393,421,532,0.397015,2.289130e-04,0.182167,0.049138,0.000667,9.487160e-05,5.026270e-02

In [11]:
GTExv8 = pd.read_csv('/data_alluser/CXY/keti/singlecell_eqtl/eqtl/result/GTEx/PBMCv8_rsIDchrposensemble.txt',sep="\t")
GTExv8

                   rsID     chrpos_PBMC    Ensemble_PBMC
0            chr1:64764      chr1:64764  ENSG00000227232
1           chr1:665098     chr1:665098  ENSG00000227232
2           chr1:666028     chr1:666028  ENSG00000227232
3            chr1:17556      chr1:17556  ENSG00000238009
4            chr1:58814      chr1:58814  ENSG00000238009
...                 ...             ...              ...
2414648  chrX:155999818  chrX:155999818  ENSG00000182484
2414649  chrX:155999957  chrX:155999957  ENSG00000182484
2414650  chrX:156000131  chrX:156000131  ENSG00000182484
2414651  chrX:156001267  chrX:156001267  ENSG00000182484
2414652  chrX:156003433  chrX:156003433  ENSG00000182484

[2414653 rows x 3 columns]

In [12]:
eQTL = pd.read_csv('/data_alluser/CXY/keti/singlecell_eqtl/eqtl/result/GTEx/eQTL_snpsloc_new2.txt',sep="\t")
eQTL

                  snp   chr        pos            rsID
0         rs375749629  chr1     101268     chr1:101268
1          rs71218815  chr1     121269     chr1:121269
2        rs1441656517  chr1     184413     chr1:184413
3        rs1357650685  chr1     268716     chr1:268716
4         rs201702841  chr1     269731     chr1:269731
...               ...   ...        ...             ...
4237811      rs538470  chrX  155696234  chrX:155696234
4237812      rs645904  chrX  155697538  chrX:155697538
4237813      rs644138  chrX  155697920  chrX:155697920
4237814      rs557132  chrX  155699751  chrX:155699751
4237815     rs4012982  chrX  155700291  chrX:155700291

[4237816 rows x 4 columns]

In [15]:
#根据rsID这列把两个dataFrame合并，以左侧的dataFrame为主
left_intersected_df = pd.merge(GTExv8, eQTL, on='rsID', how='left')
left_intersected_df

                   rsID     chrpos_PBMC    Ensemble_PBMC  snp  chr  pos
0            chr1:64764      chr1:64764  ENSG00000227232  NaN  NaN  NaN
1           chr1:665098     chr1:665098  ENSG00000227232  NaN  NaN  NaN
2           chr1:666028     chr1:666028  ENSG00000227232  NaN  NaN  NaN
3            chr1:17556      chr1:17556  ENSG00000238009  NaN  NaN  NaN
4            chr1:58814      chr1:58814  ENSG00000238009  NaN  NaN  NaN
...                 ...             ...              ...  ...  ...  ...
2414648  chrX:155999818  chrX:155999818  ENSG00000182484  NaN  NaN  NaN
2414649  chrX:155999957  chrX:155999957  ENSG00000182484  NaN  NaN  NaN
2414650  chrX:156000131  chrX:156000131  ENSG00000182484  NaN  NaN  NaN
2414651  chrX:156001267  chrX:156001267  ENSG00000182484  NaN  NaN  NaN
2414652  chrX:156003433  chrX:156003433  ENSG00000182484  NaN  NaN  NaN

[2414653 rows x 6 columns]

In [17]:
#把snp这列为空的值用rsID这列的值替代，不为空的值保留不变
left_intersected_df['snp'] = np.where(pd.isnull(left_intersected_df['snp']), left_intersected_df['rsID'], left_intersected_df['snp'])
left_intersected_df

,rsID,chrpos_PBMC,Ensemble_PBMC,snp,chr,pos
0,chr1:64764,chr1:64764,ENSG00000227232,chr1:64764,NaN,NaN
1,chr1:665098,chr1:665098,ENSG00000227232,chr1:665098,NaN,NaN
2,chr1:666028,chr1:666028,ENSG00000227232,chr1:666028,NaN,NaN
3,chr1:17556,chr1:17556,ENSG00000238009,chr1:17556,NaN,NaN
4,chr1:58814,chr1:58814,ENSG00000238009,chr1:58814,NaN,NaN
...,...,...,...,...,...,...
2414648,chrX:155999818,chrX:155999818,ENSG00000182484,chrX:155999818,NaN,NaN
2414649,chrX:155999957,chrX:155999957,ENSG00000182484,chrX:155999957,NaN,NaN
2414650,chrX:156000131,chrX:156000131,ENSG00000182484,chrX:156000131,NaN,NaN
2414651,chrX:156001267,chrX:156001267,ENSG00000182484,chrX:156001267,NaN,NaN
2414652,chrX:156003433,chrX:156003433,ENSG00000182484,chrX:156003433,NaN,NaN

In [18]:
GTExv8['rsID'] = left_intersected_df['snp']
GTExv8

                   rsID     chrpos_PBMC    Ensemble_PBMC
0            chr1:64764      chr1:64764  ENSG00000227232
1           chr1:665098     chr1:665098  ENSG00000227232
2           chr1:666028     chr1:666028  ENSG00000227232
3            chr1:17556      chr1:17556  ENSG00000238009
4            chr1:58814      chr1:58814  ENSG00000238009
...                 ...             ...              ...
2414648  chrX:155999818  chrX:155999818  ENSG00000182484
2414649  chrX:155999957  chrX:155999957  ENSG00000182484
2414650  chrX:156000131  chrX:156000131  ENSG00000182484
2414651  chrX:156001267  chrX:156001267  ENSG00000182484
2414652  chrX:156003433  chrX:156003433  ENSG00000182484

[2414653 rows x 3 columns]

In [19]:
GTExv8.to_csv("/data_alluser/CXY/keti/singlecell_eqtl/eqtl/result/GTEx/PBMCv8_ensemblechrpossnp.txt", index=False, sep="\t", header=True)